
/* table ***********************************/
/* 表格樣式 */
#countryTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

/* 表頭樣式 */
#countryTable thead tr {
  background-color: #8b939e;
  color: white;
  text-align: left;
}

/* 單元格樣式 */
#countryTable th, #countryTable td {
  border: 1px solid #ddd;
  padding: 12px;
}

/* 隔行換色 */
#countryTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 滑鼠懸停效果 */
#countryTable tbody tr:hover {
  background-color: #ddd;
}

/*以刪除列 變灰*/
.deleted {
  background-color: #f2f2f2; 
  color: #aaa; 
}

.deleted button {
  display: none; /* 隐藏编辑和删除按钮*/
}

/*統計****************************************/


.country-container.stats-modal-content p{
  display: flex;
  align-items: left;
  white-space: nowrap;
  margin-top: 5px;
}
.country-container .stats-modal-content .section1 .filter{
  background-color: rgb(221, 221, 221);
  border-radius:10px ;
  padding: 10px 0px 10px 20px;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 20px;
  
}

.country-container .stats-modal-content .section1 .filter button{
  background-color: rgb(76, 132, 152);
  color: white;
  padding: 8px 10px;
  height: 100%;
}

.country-container .stats-modal-content .section1 .result{
  margin-top: 10px;
  margin-bottom: 20px;
}
.country-container .stats-modal-content .section2 .filter{
  background-color: rgb(221, 221, 221);
  border-radius:10px ;
  padding: 10px 0px 10px 20px;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 20px;
  
}

.country-container .stats-modal-content .section2 .filter button{
  background-color: rgb(76, 132, 152);
  color: white;
  padding: 8px 10px;
  height: 100%;
}

.country-container .stats-modal-content .section2 .result{
  margin-top: 10px;
  margin-bottom: 20px;
}
