.home-container .container {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    height: 100vh;
  }

.home-container h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
.home-container body{
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}
/**********************************************/


.home-container .filter{
    background-color: rgba(171, 207, 227, 0.74);
    border-radius:10px ;
    padding: 20px;
    font-size: larger;
    display: block;
    
    justify-content:left;
   
    
  }
  
  .home-container .filter label{
    display: block;
    margin-bottom: 10px;
  }
 
.home-container .filter input,.home-container .filter select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1d252e;
    transition: border-color 0.3s ease;
    margin-right: 20px;
    

}
.home-container .filter button{
    /* background-color: #aaa; */
    margin-left:30px;
    display: flex;
    width:80%;
    margin-top: 50px;
    justify-content:center;
}
.home-container .result h2{
    margin-bottom: 10px;
}
.home-container .result{
    /* background-color: rgb(221, 221, 221); */
    background-color: rgba(255, 221, 134, 0.812);
    border-radius:10px ;
    margin-top: 10px;
    padding: 10px 0px 10px 20px;
    display: block;
    justify-content:left;
    
    font-size:medium;
    
  }